@{
    ViewBag.Title = "О программе";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    Выражаем большую благодарность доценту кафедры алгебры и математической логики ЯрГУ им.П.Г.Демидова Заводчикову Михаилу Александровичу.
</p>
