@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    PSKTeam<br />
    Ярославль, Россия<br />
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:yarpskteam@live.com">yarpskteam@live.com</a><br />
</address>