@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <h1>Codik</h1>
            <p class="lead">Codik поможет вам закодировать вашу текстовую информацию.</p>
            <p><a href="https://ru.wikipedia.org/wiki/Сжатие_данных" class="btn btn-primary btn-lg">Подробнее &raquo;</a></p>
        </div>
        <div class="col-md-4 hidden-sm hidden-xs">
            <img src="~/Source/img_746241.png" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Алгоритм Хаффмана</h2>
        <p>
            Алгоритм Хаффмана — жадный алгоритм оптимального префиксного кодирования алфавита с минимальной избыточностью.
            Был разработан в 1952 году аспирантом Массачусетского технологического института Дэвидом Хаффманом при написании им курсовой работы.
            В настоящее время используется во многих программах сжатия данных.
        </p>
        <p><a class="btn btn-default" href="https://ru.wikipedia.org/wiki/Код_Хаффмана">Подробнее &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Арифметическое кодирование</h2>
        <p>
            Арифметическое кодирование — один из алгоритмов энтропийного сжатия.
            В отличие от алгоритма Хаффмана, не имеет жесткого постоянного соответствия входных символов группам бит выходного потока.
            Это даёт алгоритму большую гибкость в представлении дробных частот встречаемости символов.
        </p>
        <p><a class="btn btn-default" href="https://ru.wikipedia.org/wiki/Арифметическое_кодирование">Подробнее &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>LZ78</h2>
        <p>
            LZ77 и LZ78 — алгоритмы сжатия без потерь, опубликованные в статьях израильских математиков Авраама Лемпеля и Яакова Зива в 1977 и 1978 годах.
            Эти алгоритмы — наиболее известные варианты в семействе LZ*.
            Оба алгоритма относятся к словарным методам, в отличие от других методов уменьшения избыточности, таких как RLE и арифметическое сжатие.
        </p>
        <p><a class="btn btn-default" href="https://ru.wikipedia.org/wiki/LZ77">Подробнее &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>BW преобразование</h2>
        <p>
            Преобразование Барроуза — Уилера (Burrows-Wheeler transform) — это алгоритм, используемый в техниках сжатия данных для преобразования исходных данных.
            BWT используется в архиваторе bzip2. Алгоритм был изобретён Майклом Барроузом и Дэвидом Уилером.
        </p>
        <p><a class="btn btn-default" href="https://ru.wikipedia.org/wiki/Преобразование_Барроуза_—_Уилера">Подробнее &raquo;</a></p>
    </div>
</div>