
@{
    ViewBag.Title = "RLE";
}

<h2>@ViewBag.Title</h2>
<form action="~/Home/RLEEncode" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <textarea class="form-control" id="ControlTextareaInputText" name="toEncode" value="" wrap="soft" rows="6"
                          placeholder="Ввести текст">@ViewData["UploadedText"]</textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-success pull-right" style="margin-bottom:3%">Закодировать</button>
        </div>
    </div>
</form>
<div class="form-group">
    @using (Html.BeginForm("UploadedTextLRLEEncode", "home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class=" col-md-4">
                <input type="file" name="fileUpload" accept="text/*" /><br />
            </div>
            <div class="col-md-2">
                <button class="btn pull-right">Загрузить</button>
            </div>
        </div>
    }
    <small id="help" class="form-text text-muted">
        Пожалуйста, загружайте файл в кодировке Unicode.
    </small>
</div>
<form action="~/Home/GetFile" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <p class="lead">Результат кодирования</p>
                <textarea class="form-control" id="ControlTextareaOutputText" name="result" wrap="soft" rows="6" readonly>@ViewData["Encoded"]</textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <textarea class="form-control" wrap="soft" rows="1" readonly>@ViewData["CompressionDegree"]</textarea>
                <small id="help" class="form-text text-muted">Степень сжатия</small>
            </div>
        </div>
        <div class="col-md-4">
            <button class="btn pull-right">Скачать</button>
        </div>
    </div>
</form>
